.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  margin: 20px;
}

/* Add some padding inside the card container */
.container div {
  width: 150px;
  height: 100px;
}

.items {
  /* font-size: 1.rem; */
}
p {
  font-size: 0.1;
}
